* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input,
button {
    border: 0;
    outline: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header .container .row {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 30px;
    margin: auto;
}

.header .icon {
    margin-left: 30px;
}

.list ul {
    gap: 30px;
    color: #0D0E43;
    font-family: lato;
}

.Home {
    color: #FB2E86;
}

form {
    margin-right: 55px;
    border: 2px solid rgb(228, 218, 218);
    border-radius: 3px;
    display: flex;
}

.search-icon {
    background-color: #FB2E86;
    padding: 4px;
}

@media screen and (max-width:770px) {
    .icon {
        width: 100%;
    }

    .list ul,
    .search-box {
        flex-direction: column;
        align-items: center;
    }
}

.hero .container .left-side .top-paragraph,
.hero .container .left-side .top2-paragraph {
    color: #FB2E86;
    font-family: lato;
    font-style: bold;
}

.hero .container .left-side .lorem1,
.hero .container .left-side .lorem2 {
    color: #8A8FB9;
}

.hero .container .left-side h1 {
    font-size: 35px;
    font-family: Josefin Sans;
    font-style: italic;
}

.hero .container {
    margin: auto;
    background-color: #F2F0FF;
    display: flex;
}

.hero .container .left-side {

    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 65px;
}

.sofa {
    width: 100%;
}

.hero .container .right-side {
    justify-content: center;
    padding: 65px;

}

.Shop-Now {
    width: 30%;
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FB2E86;
    border-radius: 4px;
}

@media screen and (max-width:770px) {
    .hero .container {
        flex-direction: column;
    }
}

.title {
    color: #1A0B5B;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.Featured-Products .container .Featured-Products-chairs {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    place-items: center;
    place-self: center;
    padding: 35px;
    gap:30px;
}

.chair {
    background-color: #F6F7FB;
    width: 250px;
    box-shadow: 4px 4px 4px 4px rgb(238, 232, 232);
}

.chair-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chair-pic .image {
    background-color: #F6F7FB;
    width: 65%;
    height: 200px;
}

.Featured-Products .card-icons {
    background-color: #F6F7FB;
    display: flex;
    gap: 15px;
    margin-top: 7px;
    margin-left: 10px;
    opacity: 0;
}

.View-Details {
    background-color: #08D15F;
    color: #ffff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    opacity: 0;
}

.chair-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FFFFFF;
    color: #151875;
}

.chair-details .chair-name {
    color: #FB2E86;
}

.chair-details .btns {
    display: flex;
    gap: 5px;
}

.chair-details .btns .btn {
    width: 8px;
    height: 3px;
    border-radius: 10px;
}

.btns .btn1 {
    background-color: #05E6B7;
}

.btns .btn2 {
    background-color: #F701A8;
}

.btns .btn3 {
    background-color: #00009D;
}

.chair:hover .card-icons {
    opacity: 1;
    transition: 0.3s;

}

.chair:hover .View-Details {
    opacity: 1;
    transition: 0.5s;

}

.chair:hover .chair-details {
    background-color: #2F1AC4;
    color: #ffff;
    transition: 0.5s;

}

.chair:hover .chair-details .btn3 {
    background-color: #ffff;
    transition: 0.5s;

}

@media screen and (min-width:770px) and (max-width:900px) {
    .Featured-Products .container .Featured-Products-chairs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:770px) {
    .Featured-Products .container .Featured-Products-chairs {
        grid-template-columns: 1fr;

    }
}